.card-wrapperr{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .card-left{
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.179);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .card-right{
        height: 400px;
        width: 500px;
        border: 1px solid rgba(0, 0, 0, 0.179);
        border-radius: 20px;
        padding: 20px;
        h4{
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 15px;
        }

        p{
            display: flex;
            justify-content: space-between;
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 20px;

            span{
            font-size: 16px;
                color: rgba(0, 0, 0, 0.60);
            }
        }
        

        div{
            display: flex;
            gap: 30px;
            align-items: center;
            justify-content: space-between;
            .input-carts{
                width: 270px;
            }
            button{
                display: block;
                width: 170px;
                background: black;
                color: white;
                &:hover{
                    background: #000 !important;
                    color: white !important;
                }
            }
        }

        button:nth-child(7){
            display: block;
            width: 100%;
            margin-top: 20px;
            background: #000;
            color: white;
            height: 40px;
            border-radius: 12px;
            &:hover{
                background: #000!important;
                color: white!important;
            }
        }

       
    }
}

.title{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #000;
}


@media screen and (max-width: 375px) {
    .card-wrapperr{
        flex-direction: column;
        padding: 0 15px;
        gap: 20px;
        .card-left{
            width: 100% !important;    
            
        }

        .card-right{
            height: 400px;
            width: 100% !important;
            h4{
                margin-bottom: 10px;
            }

            p{
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
            button{
                width: 100%;
                background: #000 !important; 
                color: white !important;
                &:hover{
                    background: #000 !important; 
                    color: white !important;
                }
            }

            div{
                margin-top: 30px;
                display: flex;
                gap: 20px;
                justify-content: space-between;
                margin-bottom: 20px;
                .input-carts{
                    width: 220px !important;
                }

                button{
                    width: 100px;
                    background: #000;
                    color: white;
                    &:hover{
                        background: #000 !important; 
                        color: white !important;
                    }
                }
            }
        }
    }
}